//Rename this file to Credentials.h and fill the fields bellow

#ifndef __CREDENTIALS_H__
#define __CREDENTIALS_H__

// Wifi parameters
const char* ssid = "YOUR_SSID";
const char* password = "YOUR_PASSWORD";
const char* mqttName = "YOUR_MQTT_NAME";
const char* mqttPassword = "YOUR_MQTT_PASSWORD";

#endif